[ENV]
dataEndianType = LITTLE_ENDIAN_DATA
sol_name = SZ
[PARAMETER]
snapshotCmprStep = 5
withLinearRegression = YES
protectValueRange = NO
sampleDistance = 100
quanzitation_intervals = 0
max_quant_intervals = 65536
predThreshold = 0.99
szMode = SZ_BEST_COMPRESSION
losslessCompressor = ZSTD_COMPRESSOR
gzipMode = Gzip_BEST_COMPRESSION
zstdMode = Zstd_BEST_COMPRESSION
randomAccess = 0 
errorBoundMode = PW_REL
absErrBound = 4e-7
relBoundRatio = 1E-2
psnr = 80
normErr = 0.05
pw_relBoundRatio = 1E-2
accelerate_pw_rel_compression = 0
